@model ERP6.ViewModels.Customer.CustomerAddViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>弘隆食品有限公司</title>
    <link href="image/favico.ico" rel="shortcut icon">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <style>
        .data-item.active {
            background-color: #F5F9FF;
        }
    </style>
</head>
<body>
    <article id="wrap">
        <!-- header -->
        <header class="header-wrap">
            <figure class="logo-wrap"><a href="index.html"></a></figure>
            <div class="nav-wrap">
                <ul class="nav-list">
                    <li class="nav-item nav-1 is-active" title="進銷存系統">
                        <a href="c201.html"></a>
                    </li>
                    <li class="nav-item nav-2" title="財務系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-3" title="會計系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-4" title="人事">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-5" title="代號系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-6" title="分析系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-7" title="安全系統">
                        <a href="###"></a>
                    </li>
                    <li class="nav-item nav-8" title="">
                        <a href="###"></a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <!-- add system -->
                <div class="header-btn-add">
                    <a href="">
                        <i></i><span>新增系統</span>
                    </a>
                </div>
                <!-- user info -->
                <div class="user-info">
                    <span>帳號名稱</span>
                    <h2>A123456789</h2>
                </div>
                <!-- sign out -->
                <button class="signout-btn" onClick="window.location.href='login.html'"></button>
            </div>
        </header>
        <!-- main -->
        <main class="container-wrap">
            <!-- aside -->
            <aside class="aside-wrap">
                <div class="aside-head">STO進銷系統</div>
                <div class="aside-list">
                    <div class="aside-item">
                        <div class="aside-title is-c201 is-active">
                            <h2>進銷系統</h2>
                        </div>
                        <div class="aside-link" style="display: block;">
                            <ul>
                                <li class="is-active">
                                    <a href="@Url.Action("Index", "Vendor")">C201_廠商基本資料檔</a>
                                </li>
                                <li>
                                    <a href="c202.html">C202_客戶基本資料檔</a>
                                </li>
                                <li>
                                    <a href="c203.html">C203_產品基本資料檔</a>
                                </li>
                                <li>
                                    <a href="">C204_採購單資料建檔</a>
                                </li>
                                <li>
                                    <a href="">C205_領料入庫資料檔</a>
                                </li>
                                <li>
                                    <a href="">C206_庫存異動單建檔</a>
                                </li>
                                <li>
                                    <a href="">C207_產品促銷單建檔</a>
                                </li>
                                <li>
                                    <a href="">C208_報價單資料建檔</a>
                                </li>
                                <li>
                                    <a href="">C209_出貨單資料建檔</a>
                                </li>
                                <li>
                                    <a href="">C210_寄賣客戶庫存檔</a>
                                </li>
                                <li>
                                    <a href="">C211_產品期初資料檔</a>
                                </li>
                                <li>
                                    <a href="">C212_盤點單資料建檔</a>
                                </li>
                                <li>
                                    <a href="">C213_加工產品資料檔</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- inner -->
            <div class="container-inner">
                <!-- top -->
                <div class="top-wrap">
                    <!-- top-title -->
                    <div class="top-title">
                        <h2>C201_廠商基本資料檔</h2>
                    </div>
                    <!-- top-toollist -->
                    <div class="top-toollist">
                        <ul>
                            <li>
                                <button class="tool-btn-first"><span>首筆</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-prev"><span>前筆</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-next"><span>次筆</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-last"><span>末筆</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-add"><span>新增</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-edit"><span>修改</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-del"><span>刪除</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-search"><span>查詢</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-export"><span>匯出檔案</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-material" onClick="window.location.href='c201_2.html'"><span>相關資料</span></button>
                            </li>
                            <li>
                                <button class="tool-btn-change"><span>編號變更</span></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- content -->
                <div class="container-content">
                    <div class="container-column">
                        <div class="container-col-1">
                            <div class="data-wrap">
                                <div class="data-title">
                                    <div class="f-1 ta-left">廠商編號</div>
                                    <div class="f-3 ta-left">廠商簡稱</div>
                                </div>
                                <div class="data-list">
                                    @foreach (var item in Model.customerList)
                                    {
                                        <div class="data-item">
                                            <div class="f-1 ta-left">@item.CoNo</div>
                                            <div class="f-3 ta-left">@item.Coname</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <form id="form" method="post">
                            <!-- example start -->
                            <div class="container-col-2">
                                <div class="inside-wrap">
                                    <div class="inside-overflow">
                                        <div class="form-wrap">
                                            <div id="cloneEle" class="form-group">
                                                <div class="form-row">
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">客戶編號*</label>
                                                            @Html.TextBoxFor(x => x.CoNo)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">統一編號*</label>
                                                            @Html.TextBoxFor(x => x.Uniform)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">客戶類別*</label>
                                                            <select name="CusType" id="CusType">
                                                                <option value="">請選擇</option>
                                                                <option value="1">銷付</option>
                                                                <option value="2">進付</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">公司名稱*</label>
                                                            @Html.TextBoxFor(x => x.Company)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">客戶簡稱</label>
                                                            @Html.TextBoxFor(x => x.Coname)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">發票抬頭</label>
                                                            @Html.TextBoxFor(x => x.Invocomp)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">結帳日期</label>
                                                            <select name="Dlien" id="Dlien">
                                                                <option value="">請選擇</option>
                                                                <option value="15">15</option>
                                                                <option value="20">20</option>
                                                                <option value="25">25</option>
                                                                <option value="月底">月底</option>
                                                                <option value="21">21</option>
                                                                <option value="31">31</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">電話一*</label>
                                                            @Html.TextBoxFor(x => x.Tel1)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">負責人*</label>
                                                            @Html.TextBoxFor(x => x.Boss)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">傳真*</label>
                                                            @Html.TextBoxFor(x => x.Fax)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">負責業務</label>
                                                            <select name="" id="">
                                                                <option value="">OOO</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">電話二*</label>
                                                            @Html.TextBoxFor(x => x.Tel2)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">聯絡人*</label>
                                                            @Html.TextBoxFor(x => x.Sales)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">行動電話</label>
                                                            @Html.TextBoxFor(x => x.Mobile)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">司機</label>
                                                            <select name="" id="">
                                                                <option value="">OOO</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">通訊地址*</label>
                                                            @Html.TextBoxFor(x => x.Compaddr)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input col-2">
                                                            <label for="">稅別</label>
                                                            <select name="" id="">
                                                                <option value="">外加</option>
                                                                <option value="">內含</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-input unit-percent col-2">
                                                            <label for="">稅率</label>
                                                            @Html.TextBoxFor(x => x.Taxrate)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">倉庫地址*</label>
                                                            @Html.TextBoxFor(x => x.Sendaddr)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for=""><a href="c202_2.html">區域類別</a></label>
                                                            <select name="" id="">
                                                                <option value="">0</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">營業項目</label>
                                                            @Html.TextBoxFor(x => x.Product)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">單價列印</label>
                                                            <select name="PrintPrice" id="PrintPrice">
                                                                <option value="">請選擇</option>
                                                                <option value="Y">是</option>
                                                                <option value="N">否</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-flex f-1">
                                                        <div class="form-input">
                                                            <label for="">售價類別</label>
                                                            <select name="PriceType" id="PriceType">
                                                                <option value="批發價">批發價-北</option>
                                                                <option value="門市價">進貨付款-中</option>
                                                                <option value="公教價">進貨付款</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-1">
                                                        <div class="form-input unit-percent">
                                                            <label for="">現金扣%</label>
                                                            @Html.TextBoxFor(x => x.Discount)
                                                        </div>
                                                    </div>
                                                    <div class="form-flex f-s">
                                                        <div class="form-input">
                                                            <label for="">計價幣別</label>
                                                            <select name="Ntus" id="Ntus">
                                                                <option value="NTD">NTD</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tabs-wrap">
                                            <div class="tabs-nav">
                                                <ul>
                                                    <li class="tabs-item min-size is-active">資料</li>
                                                    <li class="tabs-item min-size">會計科目</li>
                                                </ul>
                                            </div>
                                            <div class="tabs-main">
                                                <div class="tabs-content">
                                                    <div class="form-row">
                                                        <div class="form-flex f-1">
                                                            <div class="form-input">
                                                                <label for="">付款帳號</label>
                                                                @Html.TextBoxFor(x => x.Payaccount)
                                                            </div>
                                                        </div>
                                                        <div class="form-flex f-s">
                                                            <div class="form-input">
                                                                <label for="">付款銀行</label>
                                                                <select name="Paybank" id="Paybank">
                                                                    <option value="">請選擇</option>
                                                                    <option value="台灣銀行">台灣銀行</option>
                                                                    <option value="上海銀行">上海銀行</option>
                                                                    <option value="板信銀行">板信銀行</option>
                                                                    <option value="淡水信合社">淡水信合社</option>
                                                                    <option value="中華郵政">中華郵政</option>
                                                                    <option value="聯邦銀行">聯邦銀行</option>
                                                                    <option value="遠東銀行">遠東銀行</option>
                                                                    <option value="元大銀行">元大銀行</option>
                                                                    <option value="玉山銀行">玉山銀行</option>
                                                                    <option value="萬泰銀行">萬泰銀行</option>
                                                                    <option value="華南銀行">華南銀行</option>
                                                                    <option value="台新銀行">台新銀行</option>
                                                                    <option value="大眾銀行">大眾銀行</option>
                                                                    <option value="日盛銀行">日盛銀行</option>
                                                                    <option value="安泰銀行">安泰銀行</option>
                                                                    <option value="中國信託商業銀行">中國信託商業銀行</option>
                                                                    <option value="永豐銀行">永豐銀行</option>
                                                                    <option value="第一銀行">第一銀行</option>
                                                                    <option value="合作金庫">合作金庫</option>
                                                                    <option value="台灣中小銀行">台灣中小銀行</option>
                                                                    <option value="台北富邦商業銀行">台北富邦商業銀行</option>
                                                                    <option value="國泰世華商業銀行">國泰世華商業銀行</option>
                                                                    <option value="土地銀行">土地銀行</option>
                                                                    <option value="彰化銀行">彰化銀行</option>
                                                                    <option value="兆豐商銀">兆豐商銀</option>
                                                                    <option value="花旗(台灣)銀行">花旗(台灣)銀行</option>
                                                                    <option value="渣打國際商銀">渣打國際商銀</option>
                                                                    <option value="台中商銀">台中商銀</option>
                                                                    <option value="京城商銀">京城商銀</option>
                                                                    <option value="匯豐(台灣)銀行">匯豐(台灣)銀行</option>
                                                                    <option value="大台北銀行">大台北銀行</option>
                                                                    <option value="華泰商業銀行">華泰商業銀行</option>
                                                                    <option value="台灣新光商銀">台灣新光商銀</option>
                                                                    <option value="台北五信">台北五信</option>
                                                                    <option value="台北九信">台北九信</option>
                                                                    <option value="陽信銀行">陽信銀行</option>
                                                                    <option value="基隆一信">基隆一信</option>
                                                                    <option value="基隆二信">基隆二信</option>
                                                                    <option value="淡水一信">淡水一信</option>
                                                                    <option value="桃園農會">桃園農會</option>
                                                                    <option value="大溪農會">大溪農會</option>
                                                                    <option value="楊梅農會">楊梅農會</option>
                                                                    <option value="大園農會">大園農會</option>
                                                                    <option value="樹林農會">樹林農會</option>
                                                                    <option value="鶯歌農會">鶯歌農會</option>
                                                                    <option value="三峽農會">三峽農會</option>
                                                                    <option value="八里農會">八里農會</option>
                                                                    <option value="農會">農會</option>
                                                                    <option value="信用合作社">信用合作社</option>
                                                                    <option value="漁會">漁會</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-flex f-1">
                                                            <div class="form-input">
                                                                <label for="">電子郵件</label>
                                                                @Html.TextBoxFor(x => x.Email)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-flex f-1">
                                                            <div class="form-input">
                                                                <label for="">網址</label>
                                                                @Html.TextBoxFor(x => x.Www)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-flex f-1">
                                                            <div class="form-input">
                                                                <label for="">備註</label>
                                                                @Html.TextBoxFor(x => x.Memo)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tabs-content">
                                                    <div class="form-row">
                                                        <div class="form-flex f-1">
                                                            <div class="form-input">
                                                                <label for="">進項科目</label>
                                                                <input type="text" value="">
                                                                <button class="btn-opt"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-bottom">
                                            <button class="btn-clean">清除條件</button>
                                            <button id="btnSubmit" type="button" class="btn-submit">確定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- example end -->
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!-- popup -->
        <!-- 編號變更 -->
        <div id="demo2" class="popup-wrap">
            <div class="popup-main">
                <div class="p-form">
                    <h2>請輸入新的廠商編號</h2>
                    <form action="##">
                        <div class="input">
                            <input type="text">
                        </div>
                        <div class="p-btn pad-0">
                            <button class="btn-cancel small">取消</button>
                            <button class="btn-submit small">確定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 確認視窗 -->
        <div class="popup-wrap check">
            <div class="p-form">
                <p>是否確定送出?</p>
                <div class="p-btn pad-0">
                    <button class="btn-cancel small check">取消</button>
                    <button id="btnCheck" type="button" class="btn-submit small check">確定</button>
                </div>
            </div>
        </div>
        <!-- overlay -->
        <div class="popup-overlay"></div>
    </article>
    <!-- JS -->
    <script src="js/script.js"></script>
    <script>

        //初始資料
        $(function () {
            //先清除所有資料的綁定狀態
            $('.data-item').each(function (i, v) {
                $(this).removeClass('active');
            });
        });

        //新增資料
        $(function () {
            $('#btnSubmit').on('click', function () {
                //開啟確認視窗
                $(".popup-wrap.check").addClass("is-active");
                $(".popup-overlay").addClass("is-active");

                //按下取消按鈕
                $('.btn-cancel.small.check').on('click', function () {

                    $(".popup-wrap.check").removeClass("is-active");
                    $(".popup-overlay").removeClass("is-active");

                    window.location.href = "@Url.Action("Index", "Vendor")";
                });

                //按下確認按鈕
                $('#btnCheck').on('click', function () {

                    let fromData = $("#form").serialize();

                    $.ajax({
                        url: "@Url.Action("Add", "Vendor")",
                        data: fromData,
                        type: 'POST',
                        success: function (data) {
                            if (data.isTrue) {
                                alert("新增成功");

                                let addVendorNo = data.vendorNo;

                                window.location.href = "@Url.Action("Index", "Vendor")/?VendorNo=" + addVendorNo;

                            }
                            else {
                                alert(data.errorMessage);
                            }
                        }
                    });

                    $(".popup-wrap.check").removeClass("is-active");
                    $(".popup-overlay").removeClass("is-active")

                });
            });
        });

        // tabs
        $(function () {
            $(".tabs-item:first").addClass("is-active");
            $(".tabs-content:first").addClass("is-active");
            $(".tabs-item").click(function () {
                $(this).addClass("is-active");
                $(this).siblings().removeClass("is-active");
                $(".tabs-content").siblings().removeClass("is-active");
                $(".tabs-content").eq($(this).index()).addClass("is-active");
            });
        });

        // 會計科目-進項科目-視窗畫面 觸發
        $(function () {
            $(".btn-opt").on("click", function (e) {
                $("#demo1").addClass("is-active");
                $(".popup-overlay").addClass("is-active");
            });
        });
        // 會計科目-進項科目-視窗畫面 觸發
        $(function () {
            $(".tool-btn-change").on("click", function (e) {
                $("#demo2").addClass("is-active");
                $(".popup-overlay").addClass("is-active");
            });
        });
    </script>
</body>
</html>




