@model ERP6.ViewModels.Sales.OrderEditViewModel

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{ 
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    var permission = HttpContextAccessor.HttpContext.Session.GetString("Permission");
    var permissions = (HttpContextAccessor.HttpContext.Session.GetString("Permission")).Split('_');//0:最低權限
}

<link rel="stylesheet" href="~/css/jquery.keypad.css">
<style>
    #inlineKeypad {
        width: 10em;
    }
</style>
<script src="~/js/jquery.plugin.min.js"></script>
<script src="~/js/jquery.keypad.js"></script>

<!-- main -->
<main class="container-wrap">
    <div class="layout-wrap full-h">
        <div class="layout-main">
            <div class="layout-head">
                <span>
                    @ViewBag.FUNNAME
                </span>
                <button class="btn-back" onClick="window.location.href='@Url.Action("Order","Sales",new { Area = Model.Area, CustomerId = Model.CustomerId })'"></button>
            </div>

            @using (Html.BeginForm("OrderEdit", "Sales", FormMethod.Post, new { style = "display: block;height:100%;" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.OutNo)
                @Html.HiddenFor(x => x.IsCopy)
                @Html.HiddenFor(x => x.Business)
                @Html.HiddenFor(x => x.Driver)

                <div class="layout-content">
                    <div class="order-form-top">
                        <div class="three">
                            <div class="filter-input">
                                <label for="">送貨次序</label>
                                    <div class="input">
                                        @*<input type="text" name="ORD_ORDER" readonly>*@
                                    </div>
                            </div>

                            <div class="filter-input ">
                                <label for="">客戶簡稱</label>
                                <div class="input">
                                    <div class="select">
                                        @Html.DropDownListFor(x => x.CustomerId, ViewBag.Client as SelectList, "全部", htmlAttributes: new { @class = "selectB" })
                                        @Html.HiddenFor(x => x.CustomerId)
                                        @Html.HiddenFor(x => x.Area)
                                    </div>
                                </div>
                            </div>

                            <div class="filter-input ">
                                <label for="">請款日期</label>
                                <div class="input type-date">
                                    @Html.TextBoxFor(x => x.OrderTime, new { @readonly = "@readonly", type = "date" })
                                </div>
                            </div>
                        </div>

                        <div class="one">
                            <div class="filter-input">
                                <label for="">其他備註</label>
                                <div class="input">
                                    @Html.TextBoxFor(x => x.Memo)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-tabs-wrap">
                        <div class="order-tabs-nav">
                            <ul>
                                @foreach (var item in Model.StockTitleList)
                                {
                                    <li class="order-tabs-item">@item.Name</li>
                                }
                            </ul>
                        </div>

                        <div class="order-tabs-main">
                            @foreach (var titleItem in Model.StockTitleList)
                            {
                                <div class="order-tabs-content">
                                    <div class="title">
                                        @if (Convert.ToInt32(permissions[0]) != 0)
                                        {
                                            <div class="f-1">促銷</div>
                                        }

                                        <div class="f-1">狀態</div>
                                        <div class="f-5 ta-left">品名</div>

                                        @if (Convert.ToInt32(permissions[0]) != 0)
                                        {
                                            <div class="f-2">價格</div>
                                        }

                                        <div class="f-2">數量</div>
                                        <div class="f-2">庫存</div>
                                        <div class="f-4 ta-left">備註</div>
                                    </div>

                                    @{ 
                                        var fus = 1;

                                        foreach (var item in Model.StockList.Where(x => x.StockType == titleItem.Name))
                                        {
                                            <div class="item">
                                                @if (Convert.ToInt32(permissions[0]) != 0)
                                                {
                                                    <div class="f-1">
                                                        <div class="order-input-promot">
                                                            <input type="checkbox" id="ck1_@fus" name="SALE" value="@item.PartNo" @if (item.IsPromise == true) { @Html.Raw("checked") ; }>
                                                        </div>
                                                    </div>
                                                }

                                                <div class="f-1">
                                                    <div class="order-input-stat">
                                                        <input type="checkbox" id="star1_@fus" name="BOUGHT" disabled value="@item.PartNo" @if (item.IsSalesStatus == true) { @Html.Raw("checked") ; }>
                                                        <label for="star1_1"></label>
                                                    </div>
                                                </div>

                                                <div class="f-5 ta-left">
                                                    <p class="order-item-name" data-fuyu-no="@item.PartNo">@item.Spec </p>
                                                    <input type="hidden" name="SPEC" value="@item.Spec">
                                                    <input type="hidden" name="PART_NO" value="@item.PartNo" id="partno_@item.PartNo">
                                                </div>

                                                <div class="f-2">
                                                    @if (Convert.ToInt32(permissions[0]) != 0)
                                                    {
                                                        <input type="text" class="order-input-num defaultKeypad" name="PORDPRICE" value="@item.Price" onfocus="this.select()" @if (permission.Contains("N")) { @Html.Raw("disabled") ; }>
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" class="order-input-num defaultKeypad" name="PORDPRICE" value="@item.Price" onfocus="this.select()" @if (permission.Contains("N")) { @Html.Raw("disabled") ; }>
                                                    }
                                                    <input type="hidden" name="OriPrice" value="@item.OriPrice" />
                                                </div>

                                                <div class="f-2">
                                                    <input type="text" class="order-input-num defaultKeypad" name="PORDNUM" value="@item.PackQty" onfocus="this.select()">
                                                </div>

                                                <div class="f-2">
                                                    <span class="toolongtext">@item.stQty</span>
                                                </div>

                                                <div class="f-4 ta-left">
                                                    <input type="text" class="order-input-note" name="PS" placeholder="請輸入備註事項" value="@item.StPs" maxlength="12">
                                                </div>
                                            </div> 

                                            fus++;
                                        } 
                                    }
                                </div>
                            }
                        </div>
                    </div>

                    <div class="layout-bottom pb">
                        <button type="button" class="btn-clean" onclick="">清除條件</button>
                        <button type="button" class="btn-submit" onclick="" data-state="@Model.OrderState">送出</button>
                    </div>
                </div>

                <button class="btn-submitfuyu"></button>
            }
        </div>
    </div>
</main>

<!--popup -->
<div class="popup-info-box">
    <div class="popup-info-content">
        <figure>
            <span style="background-image: url('');"></span><!-- 圖片插入到CSS背景路徑裡 -->
        </figure>
        <ul>
            <li>
                <span>【編號】</span>
                <p id="Det01"></p>
            </li>
            <li>
                <span>【廠牌】</span>
                <p id="Det05"></p>
            </li>
            <li>
                <span>【品名】</span>
                <p id="Det02"></p>
            </li>
            <li>
                <span>【重量】</span>
                <p id="Det04"></p>
            </li>
            <li>
                <span>【入數】</span>
                <p id="Det10"></p>
            </li>
            <li>
                <span>【單位】</span>
                <p id="Det03"></p>
            </li>
            <li>
                <span>【牌價】</span>
                <p id="Det07"></p>
            </li>
            @if (Convert.ToInt32(permissions[0]) != 0)
            {
                <li>
                    <span>【單價】</span>
                    <p id="Det06"></p>
                </li>
            }

            <li>
                <span>【促銷價】</span>
                <p id="Det08"></p>
            </li>
            <li>
                <span>【Barcode】</span>
                <p>
                    <img id="Det09" src="#" alt="" style="width:113px;height:70px;" />
                </p>
            </li>
        </ul>
    </div>
    <button class="popup-close"></button>
</div>
<div class="popup-check-box">
    <p>是否確定送出?</p>
    <div class="btn">
        <button class="btn-cancel js-popup-cancel" type="button">取消</button>
        <button class="btn-submit js-popup-confirm" onClick="">確定</button>
    </div>
</div>
<div class="popup-overlay"></div>

<!-- JS -->
<script>

    // 頁籤
    $(function () {
        $(".order-tabs-item:first").addClass("is-active");
        $(".order-tabs-content:first").addClass("is-active");
        $(".order-tabs-item").click(function () {
            $(this).addClass("is-active");
            $(this).siblings().removeClass("is-active");
            $(".order-tabs-content").siblings().removeClass("is-active");
            $(".order-tabs-content").eq($(this).index()).addClass("is-active");
        });
    });

    // 明細
    $(function () {
        $(".order-item-name").on("click", function (e) {
            //參考part_no = S600000
            var sV = $(this).attr("data-fuyu-no");
            var outNo = $("#OutNo").val();
            let coNo = $("#CustomerId").val();
               $.ajax({
                    type: "POST",
                   url: "@Url.Action("AjaxOrderDet", "Ajaxs")",
                   data: { id: sV, outNo: outNo, coNo: coNo },
                    success: function (data) {
                        if (data != null) {

                            $("#Det01").empty();
                            $("#Det02").empty();
                            $("#Det03").empty();
                            $("#Det04").empty();
                            $("#Det05").empty();
                            $("#Det06").empty();
                            $("#Det07").empty();

                            $("#Det01").append("" + data.partNo);
                            $("#Det02").append("" + data.spec);
                            $("#Det03").append("" + data.unit);
                            $("#Det04").append("" + data.initQty2 + "g");
                            $("#Det05").append("" + data.atti);
                            $("#Det06").append("$" + data.price1);
                            $("#Det07").append("$" + data.sPrice1);
                            console.log(data.pPrice1);
                            $("#Det08").append("$" + data.pPrice1);

                            if (data.barcode != null) {
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("AjaxGetBarcode", "Ajaxs")",
                                    data: { id: data.barcode},
                                    success: function (data) {
                                        $("#Det09").attr("src", "data:image/jepg;base64," + data);
                                    },
                                });
                            }

                            $("#Det10").append("" + data.packQty);

                            $("#Det11").append("" + data.price1);
                            $("#Det12").append("" + data.price2);
                            $("#Det13").append("" + data.price3);
                            $("#Det14").append("" + data.sPrice1);
                            $("#Det15").append("" + data.sPrice2);
                            $("#Det16").append("" + data.sPrice3);
                            $("#Det17").append("" + data.sPrice4);
                            $("#Det18").append("" + data.sPrice5);

                        }
                    },
                   error: function () {

                       alert("發生錯誤!");

                    }
                });

            $(".popup-info-box").addClass("is-active");
            $(".popup-overlay").addClass("is-active");
        });

        $(".popup-close").on("click", function (e) {

            $(".popup-info-box").removeClass("is-active");
            $(".popup-overlay").removeClass("is-active");

        });
    });

    // 送出
    $(function () {
        $(".btn-submit").on("click", function (e) {
            let coNo = $("#CustomerId").val();

            if (!coNo) {
                alert("請選擇客戶")

                return;
            }

            $(".popup-check-box").addClass("is-active");
            $(".popup-overlay").addClass("is-active");

        });

        $(".js-popup-cancel").on("click", function (e) {

            $(".popup-check-box").removeClass("is-active");
            $(".popup-overlay").removeClass("is-active");

        });

        $(".js-popup-confirm").on("click", function (e) {

            $('input[name="PORDPRICE"]').prop('disabled',false)
            $('input[name="SALE"]').prop('disabled', false)
            $(".btn-submitfuyu").click();

        });

        //$('input[name="PORDPRICE"]').change(function () {
        //    $(this).parent().parent().find('input[name="SALE"]').prop('checked', true)
        //    let orPrice = $(this).siblings('input[name="OriPrice"]').val()
        //    if ($(this).val() == orPrice) {
        //        $(this).parent().parent().find('input[name="SALE"]').prop('checked',false)
        //    }
        //})

        //$('input[name="SALE"]').click(function () {
        //    //console.log($(this).prop('checked'))
        //    if ($(this).prop('checked')) {
        //        //$(this).parent().parents('.item').find('input[name="PORDPRICE"]').prop('disabled', false)
        //    } else {
        //        $(this).parent().parents('.item').find('input[name="PORDPRICE"]').val($(this).parent().parents('.item').find('input[name="OriPrice"]').val())
        //    }
        //})
    });

    // 更換客戶 載入歷史資料
    $(function () {
        $('#CustomerId').change(async function () {
            let cstmId = $(this).val();

            if (cstmId) {
                $('.loading-wrap').show();
                await $.ajax({
                    type: "POST",
                    url: "@Url.Action("AjaxGetLast","Ajaxs")",
                    data: { CustomerId: cstmId },
                    success: function (data) {
                        var Out = JSON.parse(JSON.stringify(data));
                        //console.log(Out)
                        // 先清空所有資料
                        $('input[name="OutNo"]').val("")
                        $('input[name="Business"]').val("")
                        $('input[name="Driver"]').val("")
                        //$('input[name="CustomerId"]').val("")
                        $('input[name="OrderTime"]').val("")
                        $('input[name="Memo"]').val("")
                        $('input[name="Area"]').val("")

                        $('input[name="SALE"]').prop('checked', false);
                        $('input[name="BOUGHT"]').prop('checked', false);
                        $('input[name="PORDPRICE"]').val("")
                        $('input[name="OriPrice"]').val("")
                        $('input[name="PORDNUM"]').val("")
                        $('input[name="PS"]').val("")

                        if (Out) {
                            //$('#CustomerId').val(Out.CustomerId);
                            //$('#Memo').val(Out.memo);
                            $('input[name="OutNo"]').val(Out.OutNo)
                            $('input[name="OrderTime"]').val(Out.OrderTime)
                            $('input[name="Memo"]').val(Out.memo)
                            $('input[name="Business"]').val(Out.business)
                            $('input[name="Driver"]').val(Out.driver)
                            $('input[name="Area"]').val(Out.area)
                            // 加入產品資料
                            if (Out.stockList.length > 0) {
                                for (var o = 0; o < Out.stockList.length; o++) {
                                    let partNo = Out.stockList[o].partNo;
                                    var fa = $('#partno_' + partNo).parent().parents('.item')
                                    //var fa = $('#partno_' + partNo);
                                    if (Out.stockList[o].isPromise == true) fa.find('input[name="SALE"]').prop('checked', true)
                                    if (Out.stockList[o].isSalesStatus == true) fa.find('input[name="BOUGHT"]').prop('checked', true)
                                    fa.find('input[name="PORDPRICE"]').val(Out.stockList[o].price)
                                    fa.find('input[name="OriPrice"]').val(Out.stockList[o].oriPrice)
                                    //fa.find('input[name="PORDNUM"]').val(Out.outDetail[o].qty)
                                    fa.find('input[name="PS"]').val(Out.stockList[o].stPs)
                                }
                            }

                        }

                    },
                    error: function (err) {
                        console.log(err)
                        alert("發生錯誤!")
                    }
                })
                $('.loading-wrap').hide();
            }
        })
    })
</script>

<!-- JS_20221224 -->
<script>
    $(function () {
        $('.defaultKeypad').keypad();

        $('#inlineKeypad').keypad({
            onClose: function () {

                alert($(this).val());

            }
        });
    });
</script>

<script>
    $(function () {
        $('.btn-clean').click(function () {
            $('input[name="Memo"]').val("")
            $('input[name="OrderTime"]').val("")
            $('input[name="PORDNUM"]').val("")
            $('input[name="PS"]').val("")
        })
    })
</script>